<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
</body>
</html><!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/utils.css">
    <link rel="stylesheet" href="css/search.css">
    <link rel="stylesheet" href="css/mobile.css">
    <title>website</title>
</head>

<body>


    <%-include("partials/navbar")%> 




    <div class="articles maxwidth1 mauto">
        <div class="article maxwidth2 ">
        <%if(yoursearchdata.length==0) { %>
            <img src="img/sorry.webp" alt="Unable to load Image" >
            <div class="articlecontent">
                <div class="heading"></div>
                <div class="actualarticle">Sorry, Please try another location. </div>
                <div class="dateauthor">
                    <div class="date"></div>
                    <div class="location"></div>
                </div>
            </div>
            <%}%>  
        </div>
        
        
        <%for(var i=0;i<yoursearchdata.length ; i++ ) { %>
        <div class="article maxwidth2 ">
            
            <img src="<%=yoursearchdata[i].filepath%>" alt="Unable to load Image" >
            <div class="articlecontent">
                <div class="heading"><%=yoursearchdata[i].heading%>.</div>
                <div class="actualarticle"><%=yoursearchdata[i].experience%>. </div>
                <div class="dateauthor">
                    <div class="date"><%=yoursearchdata[i].date%></div>
                    <div class="location"><%=yoursearchdata[i].location%></div>
                </div>
            </div>
        </div>
    
        <%}%> 
        
    </div>

    
     
    




    <%-include("partials/footer")%>